html {
  --dark1: hsl(0, 0%, 15%);
  --dark2: hsl(0, 0%, 25%);
  --marginsm: 4px;
  --marginmd: 19px;
  --marginlg: 32px;
  --paddignsm: 4px;
  --paddignmd: 10px;
  --paddignlg: 32px;
  --white1: hsl(0, 0%, 89%);
  --white2: hsl(0, 0%, 83%);
  --white3: hsl(0, 0%, 73%);
  --subnav-width: 17em;
  padding-top: 0;
  margin-top: 0;
}

body {
  padding-top: 0;
}

nav {
  margin-top: 0;
  color: var(--white1);
  background: var(--dark1);
  padding: var(--paddignsm);
}

nav a {
  color: var(--white1);
  text-decoration: none;
}

nav a + a {
  margin-left: var(--marginmd);
}

nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
}

.cov-bundle-container {
  display: flex;
}
.cov-bundle-container aside {
  padding-right: var(--paddignmd);
  width: var(--subnav-width);
  background-color: var(--dark2);
  min-height: 100vh;
}

.cov-bundle-container a {
  color: var(--white3);
  text-decoration: none;
}

.cov-bundle-container ul {
  padding-left: var(--paddignmd);
  list-style-type: none;
}
